#banner-differ{
    background: rgba($color3, 10%);
    padding: 5% 0 0;
    .container{
        width: 100%;
        overflow: hidden;
        gap: 2rem 0;
        .text{
            width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 1rem 0;
        }
        .seta{
            width: 80%;
            display: flex;
            flex-direction: row;
            justify-content: end;
            align-items: center;
            gap: 0 1rem;
            img{
                width: 35px;
                height: auto;
                cursor: pointer;
            }
            .swiper-button-prev-differ{
                transform: rotateZ(180deg);
            }
        }
        #car{
            width: 100vw;
            display: grid;
            place-items: center;
            .swiper{
                width: 100%;
                height: 100%;
                .swiper-wrapper{
                    .swiper-slide{
                        height: 100%;
                        display: grid;
                        place-items: center;
                        position: relative;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                        .cont{
                            position: absolute;
                            height: 100%;
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: end;
                            align-items: center;
                            text-align: center;
                            gap: 1rem 0;
                            padding: 0 0 20%;
                            background: rgba($color4, 60%);
                            h3{
                                width: 80%;
                                color: $color3;
                            }
                            p{
                                width: 80%;
                                color: $color3;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 800px) {
    #banner-differ{
        padding: 10% 0;
        .container{
            gap: 2rem 0;
            .text{
                order: 1;
                width: 80%;
            }
            #car{
                order: 2;
                width: 90vw;
            }
            .seta{
                order: 3;
                justify-content: center;
                img{
                    width: 40px;
                }
            }
        }
    }
}