#depoiments {
    .container {
        display: grid;
        place-items: center;
        gap: 2rem 0;
        .text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        .seta {
            width: 97.5%;
            display: flex;
            flex-direction: row;
            justify-content: end;
            align-items: center;
            gap: 0 1rem;
            img {
                width: 35px;
                height: auto;
                cursor: pointer;
            }
            .swiper-button-prev-dep {
                transform: rotateZ(180deg);
            }
        }
        #car {
            width: 80vw;
            display: grid;
            place-items: center;
            .swiper {
                width: 100%;
                height: 100%;
                border-radius: 19px;
                overflow: hidden;
                .swiper-wrapper {
                    .swiper-slide {
                        height: 100%;
                        background: rgba($color3, 10%);
                        display: grid;
                        place-items: center;
                        border-radius: 19px;
                        overflow: hidden;
                        cursor: pointer;
                        position: relative;
                        .vimeo-container {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            z-index: 2;
                            display: grid;
                            place-items: center;
                            iframe {
                                width: 100%;
                                height: 100%;
                                position: relative;
                            }
                            .play{
                                width: 60px;
                                height: auto;
                            }
                        }
                        &::after{
                            content: ('');
                            position: absolute;
                            display: block;
                            width: 100%;
                            height: 100%;
                            background: rgba($color4, 30%);
                            z-index: 1;
                        }
                        img {
                            width: 100%;
                            height: 100%;
                        }
                        h3 {
                            width: 80%;
                            font-size: 18px;
                            color: $color1;
                        }
                        p {
                            width: 80%;
                            font-weight: 300;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 800px) {
    #depoiments {
        .container {
            width: 90%;
            place-items: center;
            gap: 2rem 0;
            .text {
                order: 1;
                width: 90%;
                align-items: center;
                text-align: center;
            }
            #car {
                order: 2;
            }
            .seta {
                order: 3;
                justify-content: center;
                img {
                    width: 45px;
                }
            }
        }
    }
}
