#differ{
    padding: 5% 0 2%;
    .container{
        width: 80%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        background: rgba($color3, 10%);
        place-items: center;
        padding: 3% 0;
        border-radius: 19px;
        overflow: hidden;
        .title{
            width: 80%;   
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            h2{
                width: 70%;
            }
        }
        .text{
            width: 80%;   
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: end;
            p{
                width: 100%;
            }
        }
    }
}
@media (max-width: 800px){
    #differ{
        padding: 15% 0 8%;
        .container{
            width: 90%;
            grid-template-columns: repeat(1,1fr);
            gap: 1.5rem 0;
            padding: 10% 0;
        }
    }
}